/*Variables*/
/*Global*/
* {
  margin: 0;
  padding: 0;
}

html body nav {
  scroll-behavior: smooth;
}

/*Screen sizes*/
/* Fonts */
/* Colors */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

@-webkit-keyframes scale-out-hor-left {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes scale-out-hor-left {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
}

.scale-out-hor-left {
  -webkit-animation: scale-out-hor-left 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-hor-left 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes shadow_drop {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow_drop {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes rotate-in-diag-2 {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, -360deg);
    transform: rotate3d(-1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
    opacity: 1;
  }
}

@keyframes rotate-in-diag-2 {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, -360deg);
    transform: rotate3d(-1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
    opacity: 1;
  }
}

/*Global*/
* {
  margin: 0;
  padding: 0;
}

html body nav {
  scroll-behavior: smooth;
}

/*Body*/
body {
  font-family: "Roboto", sans-serif;
}

/*Header Navbar*/
header {
  background-color: #0e0d0d;
  text-align: center;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}

header .logo {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  header .logo {
    display: none;
  }
}

header .boton:hover {
  font-weight: bold;
}

header .boton::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

header a {
  text-decoration: none;
}

header .wa {
  width: 70px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
}

header .nav-header a {
  color: #FFFFFF;
  padding: 30px;
}

header header li {
  display: inline-block;
  font-size: 0;
}

header header li a {
  display: inline-block;
  text-align: center;
  font: "Roboto", sans-serif 16px;
}

header .nav-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

/*Main*/
main h5 {
  font-size: 60px;
  height: 100vh;
  -webkit-animation: fadeInLeft 0.5s ease forwards;
          animation: fadeInLeft 0.5s ease forwards;
  -webkit-transform: translate3d(-2000px, 0px, 1000px);
          transform: translate3d(-2000px, 0px, 1000px);
  -webkit-transition: all 0.85s ease 0s;
  transition: all 0.85s ease 0s;
  width: 4300px;
}

main .TextSlider {
  font-family: "Akaya Telivigala", cursive normal 30px;
  height: 90vh;
  -webkit-animation: fadeInLeft 0.5s ease forwards;
          animation: fadeInLeft 0.5s ease forwards;
  -webkit-transform: translate3d(-2000px, 0px, 0px);
          transform: translate3d(-2000px, 0px, 0px);
  -webkit-transition: all 1.25s ease 0s;
  transition: all 1.25s ease 0s;
  width: 4300px;
}

/*Quienes somos*/
section#quien {
  background: #dddada;
}

section#quien .titulo {
  font-family: "Poppins", sans-serif 30px;
  margin-top: 12px;
}

section#quien .cuadrado {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 368px;
  border-radius: 2%;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  margin: auto;
  margin-bottom: 15px;
}

section#quien .cuadrado2 {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 368px;
  border-radius: 2%;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  margin: auto;
  margin-bottom: 15px;
}

section#quien .TextAnimation {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

section#quien .TextAnimation2 {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

section#quien li {
  list-style: none;
  margin: 5%;
}

section#quien h4 {
  color: #0e0d0d;
  font: "Poppins", sans-serif bold;
  text-align: center;
  margin: 3%;
  padding: 1%;
}

/*Servicios*/
section#servicios {
  height: 400px;
}

section#servicios p {
  margin-left: 40px;
  margin-right: 40px;
}

section#servicios h2 {
  font: bold 30px "Roboto", sans-serif;
}

section#servicios h3 {
  font: 16px "Roboto", sans-serif;
  color: #5bc0be;
}

section#servicios .icon {
  -webkit-animation: rotate-in-diag-2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-diag-2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #5bc0be;
}

/*Galeria*/
section#galeria {
  background: #dddada;
}

/*Form*/
/*section#contacto 
  { background:$fondo_seccion2; 
    display: flex;
    justify-content: center;
    justify-items: center;
      }
      
      .form-floating{
        margin: 30px;
        padding: 10px;
    }
    
        .form-floating>.form-control
    {
        width: 400px;
        }*/
section#contacto {
  /*---------------------------------------------*/
  /*---------------------------------------------*/
  /*------------------------------------------------------------------
          [ Input ]*/
  /*---------------------------------------------*/
  /*------------------------------------------------------------------
          [ Button ]*/
  /*------------------------------------------------------------------
          [ Responsive ]*/
  /*------------------------------------------------------------------
          [ Alert validate ]*/
  /*//////////////////////////////////////////////////////////////////
          [ Restyle Select2 ]*/
  /*------------------------------------------------------------------
          [ in select ]*/
  /*------------------------------------------------------------------
          [ Dropdown option ]*/
}

section#contacto a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

section#contacto a:focus {
  outline: none !important;
}

section#contacto a:hover {
  text-decoration: none;
}

section#contacto h1, section#contacto h2, section#contacto h3, section#contacto h4, section#contacto h5, section#contacto h6 {
  margin: 0px;
}

section#contacto p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

section#contacto ul, section#contacto li {
  margin: 0px;
  list-style-type: none;
}

section#contacto input {
  outline: none;
  border: none;
}

section#contacto textarea {
  outline: none;
  border: none;
}

section#contacto textarea:focus, section#contacto input:focus {
  border-color: transparent !important;
}

section#contacto input:focus::-webkit-input-placeholder {
  color: transparent;
}

section#contacto input:focus:-moz-placeholder {
  color: transparent;
}

section#contacto input:focus::-moz-placeholder {
  color: transparent;
}

section#contacto input:focus:-ms-input-placeholder {
  color: transparent;
}

section#contacto textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

section#contacto textarea:focus:-moz-placeholder {
  color: transparent;
}

section#contacto textarea:focus::-moz-placeholder {
  color: transparent;
}

section#contacto textarea:focus:-ms-input-placeholder {
  color: transparent;
}

section#contacto input::-webkit-input-placeholder {
  color: #adadad;
}

section#contacto input:-moz-placeholder {
  color: #adadad;
}

section#contacto input::-moz-placeholder {
  color: #adadad;
}

section#contacto input:-ms-input-placeholder {
  color: #adadad;
}

section#contacto textarea::-webkit-input-placeholder {
  color: #adadad;
}

section#contacto textarea:-moz-placeholder {
  color: #adadad;
}

section#contacto textarea::-moz-placeholder {
  color: #adadad;
}

section#contacto textarea:-ms-input-placeholder {
  color: #adadad;
}

section#contacto button {
  outline: none !important;
  border: none;
  background: transparent;
}

section#contacto button:hover {
  cursor: pointer;
}

section#contacto iframe {
  border: none !important;
}

section#contacto .container {
  max-width: 1200px;
}

section#contacto .container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background: #a64bf4;
  background: -webkit- linear-gradient(45deg, #00dbde, #9232ff);
  background: -o- linear-gradient(45deg, #00dbde, #9232ff);
  background: -moz- linear-gradient(45deg, #00dbde, #9232ff);
  background: linear-gradient(45deg, #00dbde, #9232ff);
}

section#contacto .wrap-contact100 {
  width: 500px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}

section#contacto .contact100-form {
  width: 100%;
}

section#contacto .contact100-form-title {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 39px;
  color: #0e0d0d;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

section#contacto .wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 27px;
}

section#contacto .label-input100 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  padding-left: 5px;
}

section#contacto .input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
}

section#contacto .focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

section#contacto .focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #7f7f7f;
}

section#contacto input.input100 {
  height: 40px;
}

section#contacto textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}

section#contacto .input100:focus + .focus-input100::before {
  width: 100%;
}

section#contacto .has-val.input100 + .focus-input100::before {
  width: 100%;
}

section#contacto .container-contact100-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13px;
}

section#contacto .wrap-contact100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

section#contacto .contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit- linear-gradient(45deg, #00dbde, #9232ff);
  background: -o- linear-gradient(45deg, #00dbde, #9232ff);
  background: -moz- linear-gradient(45deg, #00dbde, #9232ff);
  background: linear-gradient(45deg, #00dbde, #9232ff);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

section#contacto .contact100-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

section#contacto .wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}

section#contacto .contact100-form-btn i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

section#contacto .contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

@media (max-width: 576px) {
  section#contacto .wrap-contact100 {
    padding: 72px 15px 65px 15px;
  }
}

section#contacto .validate-input {
  position: relative;
}

section#contacto .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  font-family: "Poppins", sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

section#contacto .alert-validate::after {
  content: "\f06a";
  font-family: "Poppins", sans-serif;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

section#contacto .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  section#contacto .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

section#contacto .select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

section#contacto .select2-container .select2-selection--single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
}

section#contacto .select2-container .select2-selection--single .select2-selection__rendered {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding-left: 5px;
  background-color: transparent;
}

section#contacto .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#contacto .select2-selection__arrow b {
  display: none;
}

section#contacto .select2-selection__arrow::before {
  content: '';
  display: block;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #999999;
  margin-bottom: 2px;
}

section#contacto .select2-selection__arrow::after {
  content: '';
  display: block;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #999999;
}

section#contacto .select2-container--open .select2-dropdown {
  z-index: 1251;
  border: 0px solid #e5e5e5;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
}

section#contacto .select2-dropdown--above {
  top: -30px;
}

section#contacto .select2-dropdown--below {
  top: 8px;
}

section#contacto .select2-container .select2-results__option[aria-selected] {
  padding-top: 10px;
  padding-bottom: 10px;
}

section#contacto .select2-container .select2-results__option[aria-selected="true"] {
  background: #a64bf4;
  background: -webkit-gradient(linear, right top, left top, from(#00dbde), to(#fc00ff));
  background: linear-gradient(right, #00dbde, #fc00ff);
  color: white;
}

section#contacto .select2-container .select2-results__option--highlighted[aria-selected] {
  background: #a64bf4;
  background: -webkit-gradient(linear, right top, left top, from(#00dbde), to(#fc00ff));
  background: linear-gradient(right, #00dbde, #fc00ff);
  color: white;
}

section#contacto .select2-results__options {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

section#contacto .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

/*Donde*/
section#donde {
  color: #5bc0be;
  background-color: #dddada;
}

section#donde h4 {
  font: Bold 30px "Roboto", sans-serif;
  margin: 50px;
}

section#donde li {
  display: list-item;
  list-style-type: square;
  margin: 5%;
}

section#donde h5 {
  font-family: 'Roboto', sans-serif;
  font: normal 18px "Roboto", sans-serif;
  margin: 10px;
}
/*# sourceMappingURL=style.css.map */