/*Variables*/
/*Global*/
* {
  margin: 0;
  padding: 0;
}

html body nav {
  scroll-behavior: smooth;
}

/*Screen sizes*/
/* Fonts */
/* Colors */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

@-webkit-keyframes scale-out-hor-left {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes scale-out-hor-left {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
}

.scale-out-hor-left {
  -webkit-animation: scale-out-hor-left 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-hor-left 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes shadow_drop {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow_drop {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes rotate-in-diag-2 {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, -360deg);
    transform: rotate3d(-1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
    opacity: 1;
  }
}

@keyframes rotate-in-diag-2 {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, -360deg);
    transform: rotate3d(-1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
    opacity: 1;
  }
}

/*Global*/
* {
  margin: 0;
  padding: 0;
}

html body nav {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*Body*/
body {
  font-family: "Roboto", sans-serif;
}

body ul {
  padding-left: 0;
}

/*Header Navbar*/
header {
  background-color: #0e0d0d;
  text-align: center;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  margin: 0;
}

header .logo {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  header .logo {
    display: none;
  }
}

header a {
  text-decoration: none;
}

header a:hover {
  font-weight: bold;
  text-decoration: none;
}

header a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  text-decoration: none;
}

header .wa {
  width: 70px;
  position: fixed;
  bottom: 7%;
  right: 5%;
  z-index: 100;
}

header .nav-header a {
  color: #FFFFFF;
  padding: 0px 30px;
}

@media (max-width: 768px) {
  header .nav-header a {
    font-size: 13px;
    text-decoration: none;
    padding: 0px 30px;
  }
}

header header li {
  display: inline-block;
  font-size: 0;
  text-decoration: none;
}

header header li a {
  display: inline-block;
  text-align: center;
  font: "Roboto", sans-serif 16px;
  text-decoration: none;
}

header .nav-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  text-decoration: none;
  list-style-type: none;
}

@media (max-width: 768px) {
  header .ig {
    display: none;
  }
}

/*Main*/
main {
  /*== Removal Start
        png images background
        ==*/
  /*== Removal End==*/
}

main h5 {
  font-size: 60px;
  height: 100vh;
  -webkit-animation: fadeInLeft 0.5s ease forwards;
          animation: fadeInLeft 0.5s ease forwards;
  -webkit-transform: translate3d(-2000px, 0px, 1000px);
          transform: translate3d(-2000px, 0px, 1000px);
  -webkit-transition: all 0.85s ease 0s;
  transition: all 0.85s ease 0s;
  width: 4300px;
}

main .TextSlider {
  font-family: "Akaya Telivigala", cursive normal 30px;
  height: 90vh;
  -webkit-animation: fadeInLeft 0.5s ease forwards;
          animation: fadeInLeft 0.5s ease forwards;
  -webkit-transform: translate3d(-2000px, 0px, 0px);
          transform: translate3d(-2000px, 0px, 0px);
  -webkit-transition: all 1.25s ease 0s;
  transition: all 1.25s ease 0s;
  width: 4300px;
}

main .splashcontainer {
  text-align: right;
}

@media (max-width: 768px) {
  main .splashcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

main .color_fondo {
  background-color: #00429a;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .reviews {
  width: 600px;
  height: 150px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  margin: 0px auto;
  position: relative;
  -webkit-box-shadow: 0 0 10px -2px #ddd;
          box-shadow: 0 0 10px -2px #ddd;
}

main .panel {
  width: 100%;
  height: 100%;
  position: absolute;
}

main .PanelAct {
  left: 0;
}

main .panel img {
  width: 100px;
  height: 100px;
  text-align: center;
  float: left;
  margin: 25px;
}

main .panel:nth-of-type(1) img {
  background: #12aedb;
}

main .panel:nth-of-type(2) img {
  background: #db4646;
}

main .panel:nth-of-type(3) img {
  background: #96c465;
}

@media (max-width: 768px) {
  main .panel p {
    width: 420px;
    clear: right;
    text-align: justify;
    margin: 25px 0 10px 0;
    font-size: 14px;
    color: #aaa;
    line-height: 1.2em;
    z-index: 100;
  }
}

@media (min-width: 768px) {
  main .panel p {
    float: left;
    width: 420px;
    clear: right;
    text-align: justify;
    margin: 25px 0 10px 0;
    font-size: 14px;
    color: #aaa;
    line-height: 1.2em;
    z-index: 100;
  }
}

main .panel h7 {
  float: left;
  width: 200px;
  font-size: 14px;
  color: #999;
  font-weight: bold;
  font-style: italic;
}

main .control {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

main .control span {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

main .ContActive {
  background-color: #00429a !important;
}

/*Quienes somos*/
section#quien {
  background: #dddada;
}

section#quien img {
  width: 100%;
  height: auto;
}

section#quien .titulo {
  font-family: "Poppins", sans-serif 30px;
  margin-top: 12px;
}

@media (max-width: 768px) {
  section#quien .titulo {
    font-size: 15px;
  }
}

section#quien .cuadrado {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 368px;
  border-radius: 2%;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  margin: auto;
  margin-bottom: 15px;
  overflow-y: hidden;
}

section#quien .cuadrado2 {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 368px;
  border-radius: 2%;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  margin: auto;
  margin-bottom: 15px;
  overflow-y: hidden;
}

section#quien .TextAnimation {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

section#quien .TextAnimation2 {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

section#quien li {
  list-style: none;
  margin: 5%;
  text-decoration: none;
}

section#quien h4 {
  color: #0e0d0d;
  font: "Poppins", sans-serif bold;
  text-align: center;
}

@media (max-width: 1200px) {
  section#quien h4 {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  section#quien h4 {
    font-size: 17px;
  }
}

/*Servicios

section#servicios{
    height: 400px;

    p{
        margin-left: 40px;
        margin-right: 40px;
    }

    h2{
        font: bold 30px $main_font;
        @media (max-width: 768px){
          font-size: 14px;
        }
    }

    h3{
        font: 16px $main_font;
        color: $circulo_color;
    }

    .icon{
        @include rotate-in-diag-2;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        background-color: $circulo_color;
    }
}*/
/*Servicios 2*/
/* Feature Box
---------------------*/
.feature-box-1 {
  padding: 32px;
  -webkit-box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
          box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}

.feature-box-1 * {
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

.feature-box-1 .icon {
  overflow-y: hidden;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #fc5356;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}

.feature-box-1 .icon i {
  line-height: 70px;
}

.feature-box-1 h5 {
  color: #20247b;
  font-weight: 600;
}

.feature-box-1 p {
  margin: 0;
}

.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #20247b;
  z-index: -1;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

.feature-box-1:hover {
  top: -5px;
}

.feature-box-1:hover h5 {
  color: #ffffff;
}

.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}

.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}

.section {
  padding: 100px 0;
  position: relative;
}

.section-title {
  padding-bottom: 45px;
}

.section-title h2 {
  font-weight: 700;
  color: #20247b;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #fc5356;
  padding-left: 15px;
}

/*Galeria*/
.bodygallery {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e0e0e0;
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper > * {
  margin: 5px;
}

.media {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media img {
  max-width: 100%;
  height: auto;
}

.layer {
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10px;
  height: 90%;
  background: #fff;
  color: #151e3f;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.media:hover .layer {
  opacity: 0.8;
  width: 90%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.media:hover .layer p {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

/*Form*/
section#contacto {
  /*---------------------------------------------*/
  /*---------------------------------------------*/
  /*------------------------------------------------------------------
          [ Input ]*/
  /*---------------------------------------------*/
  /*------------------------------------------------------------------
          [ Button ]*/
  /*------------------------------------------------------------------
          [ Responsive ]*/
  /*------------------------------------------------------------------
          [ Alert validate ]*/
  /*//////////////////////////////////////////////////////////////////
          [ Restyle Select2 ]*/
  /*------------------------------------------------------------------
          [ in select ]*/
  /*------------------------------------------------------------------
          [ Dropdown option ]*/
}

section#contacto a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

section#contacto a:focus {
  outline: none !important;
}

section#contacto a:hover {
  text-decoration: none;
}

section#contacto h1,
section#contacto h2,
section#contacto h3,
section#contacto h4,
section#contacto h5,
section#contacto h6 {
  margin: 0px;
}

section#contacto p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

section#contacto ul,
section#contacto li {
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
}

section#contacto input {
  outline: none;
  border: none;
}

section#contacto textarea {
  outline: none;
  border: none;
}

section#contacto textarea:focus,
section#contacto input:focus {
  border-color: transparent !important;
}

section#contacto input:focus::-webkit-input-placeholder {
  color: transparent;
}

section#contacto input:focus:-moz-placeholder {
  color: transparent;
}

section#contacto input:focus::-moz-placeholder {
  color: transparent;
}

section#contacto input:focus:-ms-input-placeholder {
  color: transparent;
}

section#contacto textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

section#contacto textarea:focus:-moz-placeholder {
  color: transparent;
}

section#contacto textarea:focus::-moz-placeholder {
  color: transparent;
}

section#contacto textarea:focus:-ms-input-placeholder {
  color: transparent;
}

section#contacto input::-webkit-input-placeholder {
  color: #adadad;
}

section#contacto input:-moz-placeholder {
  color: #adadad;
}

section#contacto input::-moz-placeholder {
  color: #adadad;
}

section#contacto input:-ms-input-placeholder {
  color: #adadad;
}

section#contacto textarea::-webkit-input-placeholder {
  color: #adadad;
}

section#contacto textarea:-moz-placeholder {
  color: #adadad;
}

section#contacto textarea::-moz-placeholder {
  color: #adadad;
}

section#contacto textarea:-ms-input-placeholder {
  color: #adadad;
}

section#contacto button {
  outline: none !important;
  border: none;
  background: transparent;
}

section#contacto button:hover {
  cursor: pointer;
}

section#contacto iframe {
  border: none !important;
}

section#contacto .container {
  max-width: 1200px;
}

section#contacto .container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background: #ffffff;
  background: -webkit- linear-gradient(45deg, #00dbde, #9232ff);
  background: -o- linear-gradient(45deg, #00dbde, #9232ff);
  background: -moz- linear-gradient(45deg, #00dbde, #9232ff);
  background: linear-gradient(45deg, #00dbde, #9232ff);
}

section#contacto .wrap-contact100 {
  width: 500px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}

section#contacto .contact100-form {
  width: 100%;
}

section#contacto .contact100-form-title {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 39px;
  color: #0e0d0d;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

section#contacto .wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 27px;
}

section#contacto .label-input100 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  padding-left: 5px;
}

section#contacto .input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
}

section#contacto .focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

section#contacto .focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #7f7f7f;
}

section#contacto input.input100 {
  height: 40px;
}

section#contacto textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}

section#contacto .input100:focus + .focus-input100::before {
  width: 100%;
}

section#contacto .has-val.input100 + .focus-input100::before {
  width: 100%;
}

section#contacto .container-contact100-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13px;
}

section#contacto .wrap-contact100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

section#contacto .contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit- linear-gradient(45deg, #00dbde, #9232ff);
  background: -o- linear-gradient(45deg, #00dbde, #9232ff);
  background: -moz- linear-gradient(45deg, #00dbde, #9232ff);
  background: linear-gradient(45deg, #00dbde, #9232ff);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

section#contacto .contact100-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

section#contacto .wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}

section#contacto .contact100-form-btn i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

section#contacto .contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

@media (max-width: 576px) {
  section#contacto .wrap-contact100 {
    padding: 72px 15px 65px 15px;
  }
}

section#contacto .validate-input {
  position: relative;
}

section#contacto .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  font-family: "Poppins", sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

section#contacto .alert-validate::after {
  content: "\f06a";
  font-family: "Poppins", sans-serif;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

section#contacto .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  section#contacto .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

section#contacto .select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

section#contacto .select2-container .select2-selection--single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
}

section#contacto .select2-container .select2-selection--single .select2-selection__rendered {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding-left: 5px;
  background-color: transparent;
}

section#contacto .select2-container--default
.select2-selection--single
.select2-selection__arrow {
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#contacto .select2-selection__arrow b {
  display: none;
}

section#contacto .select2-selection__arrow::before {
  content: "";
  display: block;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #999999;
  margin-bottom: 2px;
}

section#contacto .select2-selection__arrow::after {
  content: "";
  display: block;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #999999;
}

section#contacto .select2-container--open .select2-dropdown {
  z-index: 1251;
  border: 0px solid #e5e5e5;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
}

section#contacto .select2-dropdown--above {
  top: -30px;
}

section#contacto .select2-dropdown--below {
  top: 8px;
}

section#contacto .select2-container .select2-results__option[aria-selected] {
  padding-top: 10px;
  padding-bottom: 10px;
}

section#contacto .select2-container .select2-results__option[aria-selected="true"] {
  background: #a64bf4;
  background: -webkit-gradient(linear, right top, left top, from(#00dbde), to(#fc00ff));
  background: linear-gradient(right, #00dbde, #fc00ff);
  color: white;
}

section#contacto .select2-container .select2-results__option--highlighted[aria-selected] {
  background: #a64bf4;
  background: -webkit-gradient(linear, right top, left top, from(#00dbde), to(#fc00ff));
  background: linear-gradient(right, #00dbde, #fc00ff);
  color: white;
}

section#contacto .select2-results__options {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

section#contacto .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

section#contacto span {
  overflow-y: hidden;
}

/*Donde*/
section#donde {
  color: #5bc0be;
  background-color: #dddada;
}

section#donde h4 {
  font: Bold 30px "Roboto", sans-serif;
  margin: 50px;
}

section#donde li {
  display: list-item;
  list-style-type: square;
  margin: 5%;
  text-decoration: none;
}

section#donde h5 {
  font-family: "Roboto", sans-serif;
  font: normal 18px "Roboto", sans-serif;
  margin: 10px;
}

section#donde2 .map-container-5 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

section#donde2 .map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/**Footer**/
/*=========================
  Icons
 ================= */
* {
  margin: 0;
  padding: 0;
}

/* footer social icons */
.footer {
  background-color: #fafcff;
  padding: 20px 0;
  text-align: center;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin: auto;
}

ul.social-network li {
  display: inline;
  margin: 0 10px;
}

/* footer social icons */
.social-network a {
  overflow: hidden;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoMedium:hover {
  background-color: #00ab6c;
}

.social-network a.icoQuora:hover {
  background-color: #aa2200;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoMedium:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 22px;
}

.social-circle li i {
  margin: 0;
  line-height: 60px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.social-circle a {
  background-color: #ccd8ea;
}

@media screen and (max-width: 500px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
}

@media screen and (max-width: 450px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  ul.social-network li {
    display: inline;
    margin: 0 2px;
  }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
}

.ubicacion {
  background: #a64bf4;
  background: -webkit- linear-gradient(45deg, #00dbde, #9232ff);
  background: -o- linear-gradient(45deg, #00dbde, #9232ff);
  background: -moz- linear-gradient(45deg, #00dbde, #9232ff);
  background: linear-gradient(45deg, #00dbde, #9232ff);
  text-align: center;
  color: white;
}
/*# sourceMappingURL=style.css.map */